# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liWYeFBnvYkxZzS7
GITHUB_CLIENT_SECRET=a40c4ac76d59158723334a9c168d7be7dff14bc7

# DB
DB_URL=jdbc:mysql://mysql:3306/zombie_hunter
DB_USERNAME=root
DB_PASSWORD=root

# Webhook
WEBHOOK_SECRET=zombie_webhook_secret

# Mail (Gmail 앱 비밀번호 사용)
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=앱비밀번호16자리
NOTIFY_RECIPIENTS=팀원1@gmail.com,팀원2@gmail.com,팀원3@gmail.com