# GitHub OAuth (SCRUM-52에서 채울 예정)
GITHUB_CLIENT_ID=여기에_값_입력
GITHUB_CLIENT_SECRET=여기에_값_입력

# DB
DB_URL=jdbc:mysql://mysql:3306/zombie_hunter
DB_USERNAME=여기에_값_입력
DB_PASSWORD=여기에_값_입력

# Webhook
WEBHOOK_SECRET=여기에_값_입력

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379