# Gradle
.gradle
**/build/
!**/src/**/build/
HELP.md

# gradle wrapper는 반드시 커밋
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.gitattributes
gradle-app.setting
.gradletasknamecache
.project
.classpath
.env